body {
    display: flex;
    overflow-y: hidden;
}
.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    align-items: auto;
    left: 90px;
    z-index: auto;
    overflow: hidden;
}

.border-top {
    width: 500px;
    height: 42px;
    position: absolute;
    background-color:tan;
    z-index: 4;
    display: flex;
}

.score-box {
    width: 50px;
    height: 40px;
    border: solid 1px;
    border-color: black;
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    color: blueviolet;
}

.sky {
    /* background-color: lightblue; */
    background-image: url('/img/fb-game-background.png');
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    /* background-color: brown; */
    background-image: url('/img/bottom-background.png');
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: 4;
}

.bird {
    /* background-color: yellow; */
    background-image: url('/img/flappy-bird.png');
    position: absolute;
    width: 60px;
    height: 45px;
    border-radius: 50%;
    z-index: 2;
}

.obstacle {
    /* background-color: green; */
    background-image: url('/img/flappybird-pipe.png');
    width: 60px;
    height: 300px;
    position: absolute;
    z-index: 3;
}

.topObstacle {
    /* background-color: green; */
    background-image: url('/img/flappybird-pipe.png');
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
    z-index: 3;
}

.cloud {
    /* background-color: green; */
    background-image: url('/img/cloud-1-w100.png');
    width: 100px;
    height: 43px;
    position: absolute;
    z-index: 1;
}